.carrito{
    width: 50px;
    height: 50px;
    margin-left: 12px;
    cursor: pointer;
}
.cantidad{
    position: absolute;
    width: 15px;
    height: 20px;
    border-radius: 5px;
    color: #fff;
}
.shoppingCart{
    position: relative;
    padding: 2px
}