@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Roboto&family=Roboto+Slab&family=Satisfy&display=swap');

.cartContainer {
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: column;
    margin: 1rem 1.6rem;
    gap: 3rem;
    height: 100vh;
}
.cartValue{
    margin-top: 50px;
}