@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Roboto&family=Roboto+Slab&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Passion+One&family=Roboto&family=Roboto+Slab&family=Satisfy&display=swap');


.introParagraph{
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    color: black;
    text-align: justify;
    padding: 60px;
}
.containerItems{
    display: flex;
    justify-content: center;
}
.cardsIndex{
    width: 350px;
    height: 400px;
    border: 2px solid red;
    margin: 50px;
}
.cardsPics{
    width: 285px;
    height: 160px;
    margin-left: 30px;
    padding: 8px;
}
.cardTittles{
    font-family: 'Roboto Slab', serif;
    font-size: 1.3rem;
    text-align: center;
    text-decoration: underline;
    color: white;
}
.cardTexts{
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    text-align: justify;
    color: white;
}